<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application
        android:label="App Library Ledger"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <!--
      BUILD-TIME CONSTRAINT: Every app_scan entry in assets/catalog.json
      must have its packageName listed here 1:1. If a package is missing
      from this block, detection will silently fail for that service.
    -->
    <queries>
        <!-- Required by Flutter's PROCESS_TEXT plugin -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Subscription detection — keep in sync with catalog.json app_scan entries -->
        <package android:name="com.netflix.mediaclient"/>
        <package android:name="com.spotify.music"/>
        <package android:name="com.disney.disneyplus"/>
        <package android:name="com.amazon.avod.thirdpartyclient"/>
        <package android:name="com.apple.android.music"/>
        <package android:name="com.wbd.stream"/>
        <package android:name="com.dropbox.android"/>
        <package android:name="notion.id"/>
        <package android:name="com.openai.chatgpt"/>
        <package android:name="com.pinterest"/>
        <package android:name="com.evernote"/>
        <package android:name="com.todoist"/>
        <package android:name="com.getsomeheadspace.android"/>
        <package android:name="au.com.stan.and"/>
        <package android:name="au.com.streamotion.ares"/>
        <package android:name="au.com.kayosports"/>
        <package android:name="au.com.optus.sport"/>
        <package android:name="com.cbs.ca"/>
    </queries>
</manifest>
